::-webkit-scrollbar-track-piece {
	background-color: #fff;
	-webkit-border-radius: 1;
}

::-webkit-scrollbar {
	width: 12px;
	height: 11px;
}

::-webkit-scrollbar-thumb {
	height: 50px;
	background-color: #999;
	-webkit-border-radius: 4px;
	outline: 2px solid #fff;
	outline-offset: -2px;
	border: 2px solid #fff;
}

::-webkit-scrollbar-thumb :hover {
	height: 50px;
	background-color: #9f9f9f;
	-webkit-border-radius: 4px;
}

.ui-widget-overlay {
	background: #000000 url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50%
		repeat-x;
	opacity: .8;
	filter: Alpha(Opacity =           80);
}

.modalWin {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	display: none;
}

.modalBg {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: #000000;
}

.pointer {
	cursor: pointer;
}

.opacity2 {
	filter: alpha(Opacity = 20);
	-moz-opacity: 0.2;
	opacity: 0.2;
}

.opacity3 {
	filter: alpha(Opacity = 30);
	-moz-opacity: 0.3;
	opacity: 0.3;
}

.opacity4 {
	filter: alpha(Opacity = 40);
	-moz-opacity: 0.4;
	opacity: 0.4;
}

.opacity5 {
	filter: alpha(Opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.opacity6 {
	filter: alpha(Opacity = 60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.opacity7 {
	filter: alpha(Opacity = 70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}

.opacity8 {
	filter: alpha(Opacity = 80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

.opacity9 {
	filter: alpha(Opacity = 90);
	-moz-opacity: 0.9;
	opacity: 0.9;
}

.fontWRYH {
	font-family: "Microsoft YaHei";
}

.font12 {
	font-size: 12px;
}

.font13 {
	font-size: 13px;
}

.font14 {
	font-size: 14px;
}

.font16 {
	font-size: 16px;
}

.fontBolder {
	font-weight: bolder;
}

.zIndex_container {
	z-index: 1;
}

.zIndex_top1 {
	z-index: 99999;
}

.zIndex_top2 {
	z-index: 88888;
}

.zIndex_top3 {
	z-index: 77777;
}

.zIndex_overlay {
	z-index: 65536;
}

.zIndex_map {
	z-index: 65535;
}

.zIndex_normal {
	z-index: 1;
}

.tabYao {
	position: relative;
	height: 38px;
	box-shadow: rgba(0, 0, 0, 0.067) 0px 1px 4px 0px;
	border-radius: 5px;
	border: solid 1px #D4D4D4;
	background-image: linear-gradient(#FFF, #F2F2F2);
	background-color: #FAFAFA;
	padding: 0px 35px 0px 10px;
	font-family: 微软雅黑;
	font-size: 14px;
	letter-spacing: 1.5px;
}

.tabYao ul {
	display: block;
	white-space: nowrap;
	overflow-x: hidden;
	overflow-y: hidden;
	color: #0099FF;
}

.tabYao li {
	display: inline-block;
	padding: 9px 7px;
	cursor: pointer;
}

.tabActive {
	background-color: #E5E5E5;
	box-shadow: rgba(0, 50, 140, 0.3) 1px 3px 8px 1px inset;
	font-size: 16px;
	font-weight: bolder;
	color: #999999;
}

li.tabCutLine {
	border-left: solid 1px #F2F2F2;
	border-right: solid 1px #FFF;
	padding: 0px;
	margin: 0px 5px;
	height: 30px;
	margin-bottom: -10px;
}

.navigationYao {
	min-height: 150px;
	position: relative;
}

.navigationYao ul.navYaoULMain {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: 0px;
	padding: 7px 7px 7px 7px;
	overflow: auto;
	direction: rtl;
}

.navigationYao li.navYaoLiMain {
	border: solid 1px white;
	list-style: none;
	margin: 0px 0px 3px 0px;
	padding: 7px 0px 7px 0px;
	background-image: linear-gradient(#0099FF, #0099FF);
	border-radius: 0px;
	cursor: pointer;
	color: white;
	font-size: 14px;
	font-weight: bolder;
	text-align: center;
}

.navigationYao li.navYaoLiMainActive {
	background-image: linear-gradient(#3333FF, #3333FF);
}

.navigationYao li.navYaoLiMainSelected {
	cursor: default;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: -7px;
	background-image: linear-gradient(#CCCCFF, #CCCCFF);
	border: solid 5px white;
	padding: 5px 0px 5px 0px;
	color: #3333FF;
}

.navigationYao ul.navYaoULItem {
	overflow: auto;
	position: absolute;
	width: 100px;
	background-color: rgba(204, 204, 204, 0.5);
	margin: 0px;
	display: none;
	z-index: 99999999;
}

.navigationYao li.navYaoLiItem {
	border: solid 1px;
	list-style: none;
	margin: 3px 3px 3px 3px;
	padding: 2px;
	background-image: linear-gradient(#0099FF, #0099FF);
	cursor: pointer;
	color: white;
	font-size: 12px;
	text-align: center;
}

.navigationYao li.navYaoLiItemActive {
	background-image: linear-gradient(#3333FF, #3333FF);
}

.navigationYao li.navYaoLiItemSelected {
	background-image: linear-gradient(#3333FF, #3333FF);
	cursor: default;
}

.linkageMenu {
	border-radius: 5px;
	border: solid 2px #6666FF;
	padding: 10px;
	background-color: rgba(204, 255, 204, 0.2);
	min-width: 320px;
}

.linkageMenu .nav-tabs a {
	padding: 2px 10px;
}

.linkageMenu .tab-content {
	margin-top: -15px;
	height: 110px;
	overflow-y: auto;
}

.linkageMenu button {
	margin-left: 3px;
	margin-top: 5px;
	padding: 0px 15px;
}

.linkageMenu .tab-content span {
	margin: 3px 3px;
	padding: 3px 0px;
	cursor: pointer;
	width: 70px;
	text-align: center;
}

#carUpdateDiv1 {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
}

#dd {
	position: absolute;
	left: 50%;
	text-align: center;
	top: 50%;
	width: 500px;
	margin-left: -250px;
	height: 500px;
	margin-top: -200px;
	background-color: white;
}

#carUpdateDiv1 #dd #F1233 {
	width: 400px;
	margin-left: 50px;
	margin-top: 10px;
}

#carUpdateDiv1 #dd p {
	font-size: 18px;
}

.selectHDOuter {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: -5px 5px 10px #888888;
	padding: 5px 5px;
}

.selectHD {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 200px;
}

.selectHD ul {
	list-style: none;
	margin: 0px;
}

.selectHD li {
	padding: 3px 3px;
	margin: 0px 0px 5px 0px;
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
}

.selectHD li:HOVER {
	background-color: rgba(255, 255, 255, 1);
}

ul.navHor {
	background-color: rgba(0, 0, 0, 0.7);
	list-style: none;
	margin: 0px;
	padding: 5px 5px;
	font-weight: bolder;
}

.navHor>li {
	background-color: rgba(255, 255, 255, 0.5);
	display: inline-block;
	padding: 3px 0px;
	width: 100px;
	text-align: center;
	position: relative;
	white-space: nowrap;
}

.navHor>li:HOVER {
	background-color: rgba(255, 255, 255, 0.9);
	cursor: pointer;
}

.navHor>li:HOVER>ul {
	display: block;
	z-index: 99;
}

.navHor>li>ul {
	position: absolute;
	top: 25px;
	left: -2px;
	list-style: none;
	margin: 0px;
	list-style: none;
	display: none;
	padding-top: 5px;
}

.navHor>li>ul:HOVER {
	display: block;
}

.navHor>li>ul>li {
	background-color: rgba(0, 0, 0, 0.7);
	display: block;
	padding: 3px 0px;
	margin: 3px;
	width: 100px;
	text-align: center;
	width: 100px;
	font-size: 12px;
	color: white;
}

.navHor>li>ul>li:HOVER {
	background-color: rgba(0, 0, 0, 0.5);
}

ul.navVer {
	background-color: rgba(0, 0, 0, 0.7);
	list-style: none;
	margin: 0px;
	padding: 5px 5px;
	font-weight: bolder;
	width: 100px;
}

.navVer>li {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 3px 0px;
	text-align: center;
	position: relative;
	white-space: nowrap;
	margin-bottom: 3px;
}
.navVer>li:HOVER {
	background-color: rgba(255, 255, 255, 0.9);
	cursor: pointer;
}
.navVer>li:HOVER>ul {
	display: block;
}

.navVer>li>ul {
	position: absolute;
	top: 0px;
	left: 100px;
	margin: 0px;
	list-style: none;
	padding-left: 5px;
	display: none;
}

.navVer>li>ul>li {
	background-color: rgba(0, 0, 0, 0.7);
	display: block;
	padding: 3px 0px;
	margin: 3px;
	width: 100px;
	text-align: center;
	width: 100px;
	font-size: 12px;
	color: white;
}

.navVer>li:last-child {
	margin-bottom: 0px;
}

.navVer>li>ul>li:HOVER {
	background-color: rgba(0, 0, 0, 0.5);
}